<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 " style="background-color: #fbfbfb;border-right-color:#f7f7f7;border-right-style:solid;">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">发现音乐</a></li>
                <li><a href="#">私人FM</a></li>
                <li><a href="#">MV</a></li>
                <li><a href="#">朋友</a></li>
            </ul>
            <a>我的音乐</a>
            <ul class="nav nav-sidebar">
                <li><span href="">本地音乐</span></li>
                <li><a href="">下载管理</a></li>
                <li><a href="">我的音乐云盘</a></li>
                <li><a href="">我的歌手</a></li>
                <li><a href="">我的MV</a></li>
                <li><a href="">我的电台</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 main" style="height: 551px;overflow-y: scroll">
            <div class="page-header">
                <span style="font-size: 3ch">推荐歌单</span>
                <div style="font-size: 2ch" class="pull-right">更多...</div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
